<app-header></app-header>
<app-sidebar></app-sidebar>


<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <!-- <h1>Employee list</h1> -->
            </div>
            <div class="col-sm-6">
              <!-- <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Employee List</li>
              </ol> -->
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
      <section class="content">
        <div class="container-fluid">
                   <!-- /.row -->
        <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <div class="card-tools">
                    <div class="row">
                      <div class="col-md-8">
                        
                        <!-- <input type="text"  [(ngModel)]="searc" (ngModelChange)="Search()" class="form-control float-right" placeholder="Search by Name" />
                     -->
                      </div>
                      <div class="col-md-4">
                   
                      </div>
                    </div>
                     
                     
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0" style="overflow:hidden;">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                       <th class="text-center"><h3>Please Add atleast one guard and one Employee</h3></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="text-center">
                                    <div class="row mt-5 mb-5">
                                        <div class="col-md-6">
                                            <a routerLink="/employee/add-employee" class="btn btn-primary left">add Employee</a>
                                        </div>
                                        <div class="col-md-6">
                                            <a routerLink="/guard/add-guard" class="btn btn-primary right">add Guard</a>
                                        </div>
                                    </div>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              
              </div>
              <!-- /.card -->
            </div>
          </div>
          <!-- /.row -->
        </div>
      </section>

</div>


<app-footer></app-footer>











<app-footer></app-footer>
