<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <!-- <h1>Employee list</h1> -->
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Employee List</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
      <section class="content">
        <div class="container-fluid">
                   <!-- /.row -->
        <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <div class="card-tools">
                    <div class="row">
                      <div class="col-md-8">
                        
                        <input type="text"  [(ngModel)]="searc" (ngModelChange)="Search()" class="form-control float-right" placeholder="Search by Name" />
                    
                      </div>
                      <div class="col-md-4">
                        <a routerLink="add-employee" class="btn btn-primary" >Add</a>
                      </div>
                    </div>
                     
                     
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Mobile</th>
                     
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of employeeData |  paginate: { itemsPerPage: count, currentPage: page, totalItems: totalcount }; let i = index">
                        <td>{{data.id}}</td>
                        <td>{{data.name}}</td>
                        <td>{{data.mobile}}</td>
                 
                        <td>
                          <span>
                           <a class="btn btn-outline-primary btn-sm"  [routerLink]="['edit-employee',data.id]" >
                             <span class="fa fa-pencil-alt"></span>
                             </a>
                           </span>
                           <span ><a href="javascript:void(0)" class="btn btn-outline-primary btn-sm ml-2" (click)="delete(data)"  >
                            <span class="fa fa-trash"></span>
                            </a></span>
                       </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer relator-pagination">
                  <pagination-controls class="my-pagination"  (pageChange)="getEmployeeData($event)"></pagination-controls> 
                </div>
              </div>
              <!-- /.card -->
            </div>
          </div>
          <!-- /.row -->
        </div>
      </section>

</div>


<app-footer></app-footer>


