<ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple"
    >
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
          <a href="../../index2.html"><b>Visitor Management</b></a>
        </div>
        <!-- /.login-logo -->
        <div *ngIf="emailView" class="card">
          <div class="card-body login-card-body">
            <p class="login-box-msg">Enter Email to send OTP</p>
      
            <form [formGroup]="forgotPasswordForm"  role="form" (ngSubmit)="forgotPasswordFormSubmit()" method="post">
              <div class="input-group mb-3">
                <input type="email" formControlName="email" class="form-control" placeholder="Email">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                  </div>
                </div>
              </div>
              <!-- <span *ngIf="loginForm.get('email').invalid && myform.submitted || loginForm.get('email').touched && loginForm.get('email').invalid ">
                <span class="text-danger"  *ngIf="loginForm.get('email').pristine">Email is required</span>
                <span class="text-danger" *ngIf="loginForm.controls['email'].errors?.validateEmail">Please enter valid email</span>

              </span> -->
             
              <div class="row">
                <div class="col-4">
                  <button type="submit" class="btn btn-primary btn-block">Send OTP</button>
                </div>
              </div>
            </form>
            <p class="mb-1">
                <a href="" routerLink="/login">Redirect to login</a>
              </p>
          </div>
          <!-- /card-body -->
        </div>

        <!-- OTP card body -->
        
        <div *ngIf="OTPView" class="card">
            <div class="card-body login-card-body">
              <p class="login-box-msg">Please Enter the OTP sent to you on email</p>
        
              <form [formGroup]="OTPForm"  role="form" (ngSubmit)="otpFormSubmit()" method="post">
                <div class="input-group mb-3">
                  <input type="text" formControlName="otp" class="form-control" placeholder="Enter OTP">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <!-- <span class="fas fa-envelope"></span> -->
                    </div>
                  </div>
                </div>
                <!-- <span *ngIf="loginForm.get('email').invalid && myform.submitted || loginForm.get('email').touched && loginForm.get('email').invalid ">
                  <span class="text-danger"  *ngIf="loginForm.get('email').pristine">Email is required</span>
                  <span class="text-danger" *ngIf="loginForm.controls['email'].errors?.validateEmail">Please enter valid email</span>
  
                </span> -->
               
                <div class="row">
                  <div class="col-4">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                  </div>
                </div>
              </form>
            
            </div>
            <!-- /card-body -->
          </div>
        <!-- /OTP card body -->


        <!-- reset password -->
        <div *ngIf="passwordView" class="card">
            <div class="card-body login-card-body">
              <p class="login-box-msg">Please Enter the Password</p>
        
              <form [formGroup]="passwordForm" role="form" (ngSubmit)="passwordFormSubmit()" method="post">
                <div class="input-group mb-3">
                  <input type="password" formControlName="password" class="form-control" placeholder="Enter Password">
                  <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                  </div>
                </div>
                <!-- <span *ngIf="loginForm.get('email').invalid && myform.submitted || loginForm.get('email').touched && loginForm.get('email').invalid ">
                  <span class="text-danger"  *ngIf="loginForm.get('email').pristine">Email is required</span>
                  <span class="text-danger" *ngIf="loginForm.controls['email'].errors?.validateEmail">Please enter valid email</span>
  
                </span> -->
                <div class="input-group mb-3">
                    <input type="password"  formControlName="password_confirmation"  class="form-control" placeholder="Enter Confirm Password">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                      </div>
                    </div>
                  </div>
               
                <div class="row">
                  <div class="col-4">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                  </div>
                </div>
              </form>
             
            </div>
            <!-- /card-body -->
          </div>
        <!-- /reset password -->





      </div>
    
</div>

